{% extends "electronic/layout.html" %}
{% load static %}
{% block content %}


<div class="container text-center">
  <h3>What We Do</h3><br>
  <div class="row">
    {% for el in data %}
    <div class="col-sm-4">
      <p>{{ el.name }}</p>
      <p>{{ el.brand }}</p>
      {% if el.img %}
        <img src="{{ el.img.url }}" class="img-responsive" style="width:100%" alt="Image">
      {% endif %}
      <p>{{ el.price }}</p>
      <p>{{ el.description }}</p>
      <p>{{ el.cat }}</p>
      <a href="{% url 'details' el.id %}">Detail</a>
    </div>
    {% endfor %}
  </div>
</div><br>

{% endblock %}